<clr-main-container>
  <!-- header component -->
  <app-header></app-header>
  <!-- messages component -->
  <app-messages></app-messages>
  <!-- breadcrumb component -->
  <app-breadcrumbs></app-breadcrumbs>
  <!-- add wizards component -->
  <app-create-project-wizard></app-create-project-wizard>
  <app-create-library-wizard></app-create-library-wizard>
  <app-create-item-wizard></app-create-item-wizard>
  <app-add-library-wizard></app-add-library-wizard>
  <!-- content -->
  <router-outlet></router-outlet>
</clr-main-container>
