<div class="content-container">
  <nav class="sidenav">
    <app-navigation [provider]="navigation" [relation]="relation"></app-navigation>
  </nav>

  <div class="content-area" *ngIf="loading">
    <app-loader></app-loader>
  </div>

  <div class="content-area" *ngIf="!loading">
    <h2>{{library.name}}</h2>
    <p class="p1">{{library.description}}</p>
    <h3>Items</h3>
    <div style="margin: 10px auto; padding: 10px;">
      <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="refreshing">
        <clr-dg-column style="width: 5vw;"></clr-dg-column>
        <clr-dg-column style="width: 10vw;">Name</clr-dg-column>
        <clr-dg-column></clr-dg-column>
        <clr-dg-column style="width: 5vw;"></clr-dg-column>

        <clr-dg-placeholder>We couldn't find any items!</clr-dg-placeholder>

        <clr-dg-row *ngFor="let item of items" [routerLink]="['/items', item.id]" class="hand">
          <clr-dg-cell style="padding: 0; background-repeat: no-repeat; background-size: cover; background: url({{item.thumbnails[0]}});"></clr-dg-cell>
          <clr-dg-cell style="padding: 16px;"><span class="p4">{{item.name}}</span></clr-dg-cell>
          <clr-dg-cell style="padding: 16px;"><span class="p3">{{item.preview}}</span></clr-dg-cell>
          <clr-dg-cell style="padding: 16px; text-align: center;"><app-badge [pendable]="item" [purgable]="item"></app-badge><span *ngIf="!item.pending && !item.purged" class="label label-info">{{item.type}}</span></clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          <clr-dg-pagination #clrPagination [clrDgPageSize]="pagination.perPage" [clrDgTotalItems]="pagination.total" [clrDgPage]="pagination.page">
            <clr-dg-page-size [clrPageSizeOptions]="[20,50,100,200]">Items per page</clr-dg-page-size>
            {{clrPagination.firstItem + 1}} - {{clrPagination.lastItem + 1}} of {{clrPagination.totalItems}} items
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </div>
  </div>
</div>
